on:
  pull_request:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

jobs:
  test-job:
    runs-on: ubuntu-latest
    name: Run dependency diff action
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 23

      - name: Downgrade dependency version to see the diff
        run: sed -i -E 's/androidx.paging:paging-common-ktx:[[:digit:]]+.[[:digit:]]+.[[:digit:]]+/androidx.paging:paging-common-ktx:3.2.0/g' testproject/build.gradle

      - uses: gradle/actions/setup-gradle@v4
        
      - id: dependency-diff
        if: github.event_name == 'pull_request'
        uses: ./
        with:
          configuration: runtimeClasspath
          build-root-directory: testproject
          project: ""
          debug: true

      - uses: actions/upload-artifact@v4
        if: github.event_name == 'pull_request'
        with:
          name: file-diff-test-1-output
          path: ${{ steps.dependency-diff.outputs.file-diff }}
          if-no-files-found: error

      - uses: actions/upload-artifact@v4
        if: github.event_name == 'pull_request'
        with:
          name: file-diff-test-1-dependencies-base
          path: ${{ steps.dependency-diff.outputs.file-dependencies-base }}
          if-no-files-found: error

      - uses: actions/upload-artifact@v4
        if: github.event_name == 'pull_request'
        with:
          name: file-diff-test-1-dependencies-head
          path: ${{ steps.dependency-diff.outputs.file-dependencies-head }}
          if-no-files-found: error

      - uses: peter-evans/find-comment@v3
        id: find_comment
        if: github.event_name == 'pull_request'
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body-includes: Test1

      - uses: peter-evans/create-or-update-comment@v4
        if: ${{ steps.dependency-diff.outputs.text-diff != null || steps.find_comment.outputs.comment-id != null }}
        with:
          body: |
            Test1
              ```diff
              ${{ steps.dependency-diff.outputs.text-diff }}
              ```
            
             output path: `${{ steps.dependency-diff.outputs.file-diff }}`
             base dependencies: `${{ steps.dependency-diff.outputs.file-dependencies-base }}`
             head dependencies: `${{ steps.dependency-diff.outputs.file-dependencies-head }}`
          edit-mode: replace
          comment-id: ${{ steps.find_comment.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          token: ${{ secrets.GITHUB_TOKEN }}

  test-job-with-configuration-cache:
    runs-on: ubuntu-latest
    name: Test additional arguments
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 23

      - name: Downgrade dependency version to see the diff
        run: sed -i -E 's/androidx.paging:paging-common-ktx:[[:digit:]]+.[[:digit:]]+.[[:digit:]]+/androidx.paging:paging-common-ktx:3.2.0/g' testproject/build.gradle

      - run: |
          mkdir -p ~/.gradle
          printf "org.gradle.unsafe.configuration-cache=true" > ~/.gradle/gradle.properties
        shell: bash

      - uses: gradle/actions/setup-gradle@v4

      - id: dependency-diff
        uses: ./
        if: github.event_name == 'pull_request'
        with:
          configuration: runtimeClasspath
          lib-version: "1.2.1"
          build-root-directory: testproject
          additional-gradle-arguments: "--no-configuration-cache --stacktrace"
          project: ""

      - uses: actions/upload-artifact@v4
        if: github.event_name == 'pull_request'
        with:
          name: file-diff-test-2
          path: ${{ steps.dependency-diff.outputs.file-diff }}
          if-no-files-found: error

      - uses: peter-evans/find-comment@v3
        id: find_comment
        if: github.event_name == 'pull_request'
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body-includes: Test2

      - uses: peter-evans/create-or-update-comment@v4
        if: ${{ steps.dependency-diff.outputs.text-diff != null || steps.find_comment.outputs.comment-id != null }}
        with:
          body: |
            Test2
              ```diff
              ${{ steps.dependency-diff.outputs.text-diff }}
              ```
          edit-mode: replace
          comment-id: ${{ steps.find_comment.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          token: ${{ secrets.GITHUB_TOKEN }}

  test-on-different-os:
    strategy:
      fail-fast: false
      matrix:
        os: [ macos-14, windows-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    name: Execute on ${{ matrix.os }} runner
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: 23

      - name: Downgrade dependency version to see the diff (Unix)
        if: runner.os != 'Windows'
        run: sed -i -E 's/androidx.paging:paging-common-ktx:[[:digit:]]+.[[:digit:]]+.[[:digit:]]+/androidx.paging:paging-common-ktx:3.2.0/g' testproject/build.gradle

      - name: Downgrade dependency version to see the diff (Windows)
        if: runner.os == 'Windows'
        run: |
          (Get-Content testproject/build.gradle) -replace 'androidx\.paging:paging-common-ktx:\d+\.\d+\.\d+', 'androidx.paging:paging-common-ktx:3.2.0' | Set-Content testproject/build.gradle
        shell: pwsh

      - uses: gradle/actions/setup-gradle@v4

      - run: ./gradlew dependencies
        working-directory: testproject

      - id: dependency-diff
        uses: ./
        if: github.event_name == 'pull_request'
        with:
          configuration: runtimeClasspath
          build-root-directory: testproject
          project: ""
          debug: true
          additional-gradle-arguments: "--scan"

      - uses: actions/upload-artifact@v4
        if: github.event_name == 'pull_request'
        with:
          name: file-diff-test-on-${{ matrix.os }}
          path: ${{ steps.dependency-diff.outputs.file-diff }}
          if-no-files-found: error
